<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Minimaschine</title>

    <script language="javascript" type="text/javascript" src="https://codemirror.net/lib/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="https://codemirror.net/lib/codemirror.css"></link>
    <link rel="stylesheet" href="http://codemirror.net/theme/night.css">

    <link rel="stylesheet" type="text/css" href="static\site.css"></link>

</head>
<body>

    <div class="row">
        <div class="column-left">
            <form action="{{ url_for('submit') }}" method="post" class="input_form">
                <textarea name="text" id="code"> {{ code_input|default("",true) }} </textarea>
                <input type="submit" class="submit_button" value="Run Code">
            </form>
        </div>
    
        <div class="column-right">

            <div class="cpu-graphic">
                <div class="cpu-graphic-inside">
                    <div class="Akkumulator">
                        <p>
                            Akkumulator 
                        </p>
                        <div class="Akkumulator-Wert">
                            {{ akkumulator|default("0", true)}}
                        </div>
                    </div>

                    <div class="Befehlsregister">
                        <p>
                            Befehlsregister
                        </p>
                        <div class="Befehlsregister-Ausgabe">
                            <div class="Befehlsregister-Befehl">
                                {{ befehlsregister_key|default("----", true) }}
                            </div>
                            <div class="Befehlsregister-Wert">
                                {{ befehlsregister_value|default("----", true) }}
                            </div>
                        </div>
                    </div>

                    <div class="Programmzähler">
                        <p>
                            Programmzähler
                        </p>
                        <div class="Programmzähler-Zähler">
                            {{ programmzähler|default("0", true) }}
                        </div>
                    </div>
                </div>
            </div>

            <table class="reg_table">

                <tr>
                    <th class="tg-reg" title="{{ reg_1_numeric|default('0',true) }}">R1= {{ reg_1|default("0000000000000000",true) }}</th>
                    <th class="tg-reg" title="{{ reg_2_numeric|default('0',true) }}">R2= {{ reg_2|default("0000000000000000",true) }}</th>
                </tr>
                <tr>
                    <td class="tg-reg" title="{{ reg_3_numeric|default('0',true) }}">R3= {{ reg_3|default("0000000000000000",true) }}</td>
                    <td class="tg-reg" title="{{ reg_4_numeric|default('0',true) }}">R4= {{ reg_4|default("0000000000000000",true) }}</td>
                </tr>
                <tr>
                    <td class="tg-reg" title="{{ reg_5_numeric|default('0',true) }}">R5= {{ reg_5|default("0000000000000000",true) }}</td>
                    <td class="tg-reg" title="{{ reg_6_numeric|default('0',true) }}">R6= {{ reg_6|default("0000000000000000",true) }}</td>
                </tr>
                <tr>
                    <td class="tg-reg" title="{{ reg_7_numeric|default('0',true) }}">R7= {{ reg_7|default("0000000000000000",true) }}</td>
                    <td class="tg-reg" title="{{ reg_8_numeric|default('0',true) }}">R8= {{ reg_8|default("0000000000000000",true) }}</td>
                </tr>

                <tr>
                    <td class="tg-flag" title="OverFlow-Flag">OF= {{ ov|default("0",true)}} </td>
                    <td class="tg-flag" title="Zero-Flag">ZR= {{ zr|default("0",true)}} </td>
                </tr>
                <tr>
                    <td class="tg-flag" title="Sign-Flag">SF= {{ sf|default("0",true)}} </td>
                    <td class="tg-flag" title="Parity-Flag">PF= {{ pf|default("0",true)}} </td>
                </tr>
                </table>

            <div class="footer">
                <a href="/befehle" target="blank" class="links"><input type="button" value="Befehle" class="buttons"></a> 
                <a href="/errors" target="blank" class="links"><input type="button" value="Error-Codes" class="buttons"></a> 
                <a href="/safe_to_txt" target="blank" class="links"><input type="button" value="safe to txt" class="buttons"></a> 
            </div>

            <p class="copyright">
                &copy; Alexander Berlin & Ilyas Erriahi Q12 Spessart-Gymnasium-Alzenau 2022
            </p>
        </div>
    </div>
    <!-- +++++ JAVASCRIPT +++++ -->

    <!-- +++++ CODEMIRROR +++++-->
    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            lineNumbers: true,
            theme: "night"
        });
        editor.setSize(window.screen.width * 0.29,window.screen.height/1.2);
    </script>

    <!-- +++++ ENABLE TAB IN TEXTAREA +++++ -->
    <script>
        document.getElementById('textbox').addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;
            this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);
            this.selectionStart = this.selectionEnd = start + 1;
            }
        });
    </script>
</body>
</html>