<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Minimaschine</title>

    <script language="javascript" type="text/javascript" src="https://codemirror.net/lib/codemirror.js"></script>
    <link rel="stylesheet" type="text/css" href="https://codemirror.net/lib/codemirror.css"></link>
    <link rel="stylesheet" href="http://codemirror.net/theme/night.css">

    <link rel="stylesheet" type="text/css" href="static\site.css"></link>

</head>
<body>
    <form action="{{ url_for('submit') }}" method="post" class="input_form">
        <textarea name="text" id="code"></textarea>
        <textarea> {{ value }} </textarea>
        <br>
        <input type="submit" class="submit_button">
    </form>

    <script>
        var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
            lineNumbers: true,
            theme: "night"
        });
        editor.setSize(500,300);
    </script>

    <script>
        // +++++ ENABLE TAB IN TEXTAREA +++++
        document.getElementById('textbox').addEventListener('keydown', function(e) {
        if (e.key == 'Tab') {
            e.preventDefault();
            var start = this.selectionStart;
            var end = this.selectionEnd;
            this.value = this.value.substring(0, start) +
            "\t" + this.value.substring(end);
            this.selectionStart = this.selectionEnd = start + 1;
            }
        });
    </script>
</body>
</html>